POSTGRES_USER=test_user
POSTGRES_PASSWORD=example
POSTGRES_HOST=accident-ml-db
POSTGRES_PORT=5432
POSTGRES_DB=accidents

GH_TOKEN=

MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

UPTIME_KUMA_API_KEY=