name: Release

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
    branches:
      - main
      - develop

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write

jobs:
  release:
    # Ne s'exécute que si la CI a réussi
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up uv
        uses: 

      - name: Install dependencies
        run: 

      - name: Python Semantic Release
        id: release
        uses: 
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to GHCR (if new release)
        if:steps.release.outputs.released == 'true'
        run: 